.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 84vh;
}

.lines{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px 10px 10px;
    background-color: #BBADA0;
    gap: 10px;

    &:first-child {
        padding-top: 10px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    &:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}