.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score {
    background-color: #3C3A32;
    border: none;
    border-radius: 5px;
    color: #FAF9EE;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s;
}